.login-container{
    h2{
        font-size: 32px;
        font-weight: 600;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .btn-primary{
        width: 30%;
        border-radius: 30px;
        padding: 12px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
